apiVersion: v1
baseDomain: {{ networking.domain_name }}
compute:
- architecture: amd64
  hyperthreading: Enabled
  name: worker
  platform: {}
  replicas: 3
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
  platform: {}
  replicas: 3
metadata:
  creationTimestamp: null
  name: {{ ocp.cluster_name }}
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineNetwork:
  - cidr: 10.0.0.0/16
  networkType: OpenShiftSDN
  serviceNetwork:
  - 172.30.0.0/16
platform:
  ovirt:
    api_vip: {{ ocp.reserved_ip.api }}
    ingress_vip: {{ ocp.reserved_ip.apps }}
    ovirt_cluster_id: {{  hostvars['DUMMY'].ovirt_cluster_id }}
    ovirt_network_name: {{ ovirt.network.internal.network }}
    ovirt_storage_domain_id: {{  hostvars['DUMMY'].ovirt_storage_domain_id }}
    vnicProfileID: {{  hostvars['DUMMY'].vnicProfileID }}
publish: External
pullSecret: '{{ ocp.pull_secret }}'
