#!/bin/bash
export KUBECONFIG=/root/install/auth/kubeconfig
htpasswd -c -B -b /tmp/user.htpasswd {{ ocp.user }} {{ ocp.pass }}
htpasswd -B -b /tmp/user.htpasswd marco balu
/usr/bin/oc create secret generic htpass-secret --from-file=htpasswd=/tmp/user.htpasswd -n openshift-config
/usr/bin/oc apply -f /root/install/htpasswd_provider.yaml
/usr/bin/oc adm policy add-cluster-role-to-user cluster-admin {{ ocp.user }}
/usr/bin/oc adm policy add-cluster-role-to-user cluster-admin marco